<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAr-JvjYVZ3Zgf6nNV_6BrsLs1efBsdWqM</string>
	<key>GCM_SENDER_ID</key>
	<string>1049172139596</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.streamingDjlive</string>
	<key>PROJECT_ID</key>
	<string>streamingdjlive-2fd7d</string>
	<key>STORAGE_BUCKET</key>
	<string>streamingdjlive-2fd7d.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1049172139596:ios:4246fef106589da458dee9</string>
</dict>
</plist>